<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body> 
 <h3>Introduzca su contraseña para proceder a eliminar su cuenta:</h3>
 
#{form @eliminarusuariocontraseña()}
#{field 'contraseña'}
<p class="${field.errorClass}">
    <strong>Contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}

<p class="buttons">
    <input type="submit" value="Comprobar contraseña">
</p>

#{/form}

 #{if error}
 <p style="color: #ea0808">${error}</p>
 #{/if}

 <a href= "@{Logout()}"><button>Cerrar Sesión</button></a>
 <a href= "@{index()}"><button>Atrás</button></a>

</body>
</html>

