<!DOCTYPE html>
<html lang="en">
<head>

    <style>

.panel.panel-default{
    margin-top: 100px;
    height: 400px;
    width: 350px;
    margin-left: 500px;
    }

</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>Página Web PES</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <div class="panel panel-default">
        <div class="panel-heading">Registrar usuario</div>
        <div class="panel-body">

<body>

#{form @registrarCliente(), enctype:'multipart/form-data'}
#{field 'usuario'}
<p class="${field.errorClass}">
    <strong>Username:</strong> <input type="text" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>

#{/field}

#{field 'nombre'}
    <p class="${field.errorClass}">
        <strong>Nombre:</strong> <input type="text" name="${field.name}" size="16"> *
        <span class="error">${field.error}</span>
    </p>
#{/field}

#{field 'apellido1'}
    <p class="${field.errorClass}">
        <strong>Apellido 1:</strong> <input type="text" name="${field.name}" size="16"> *
        <span class="error">${field.error}</span>
    </p>

#{/field}

#{field 'nuevocliente.apellido2'}
    <p class="${field.errorClass}">
        <strong>Apellido 2:</strong> <input type="text" name="${field.name}" value ="" size="16">
        <span class="error">${field.error}</span>
    </p>

#{/field}

#{field 'nuevocliente.contraseña'}
<p class="${field.errorClass}">
    <strong>Contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>

#{/field}

#{field 'contraseña'}
<p class="${field.errorClass}">
    <strong>Verificar Contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>

</p>

#{/field}
#{field 'mail'}
<p class="${field.errorClass}">
    <strong>Mail:</strong> <input type="email" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>

#{/field}

    #{field 'nuevocliente.perfil'}
    <p class="${field.errorClass}">
        <strong>Foto Perfil:</strong><input type="file" name="${field.name}">
        <span class="error">${field.error}</span>
    </p>
    #{/field}
<p class="buttons">
    <input type="submit" value="Register">
    <a href="@{index()}">Cancel</a>
</p>


#{/form}
</body>

        </div>
    </div>
</html>


