<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Datos</title>
</head>

<body> 
 <h3>Introduzca su contraseña para acceder a modificar sus datos:</h3>
 
#{form @cargardatosusuario()}
#{field 'contraseña'}
<p class="${field.errorClass}">
    <strong>Contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}

#{field 'c.contraseña'}
<p class="${field.errorClass}">
    <strong>Confirme contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}
<p>
    <input type="submit" value="Comprobar contraseña">
</p>

#{/form}
 <a href= "@{Logout()}"><button>Cerrar Sesión</button></a>
 <a href= "@{index()}"><button>Atrás</button></a>
</body>
</html>



 