<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página modificar datos del usuario  ${idCliente}</title>
</head>

<body> 
 <h3>Introduzca su contraseña para acceder a modificar sus datos:</h3>
 
#{form @ModificarDatos()}
#{field 'contraseña'}
<p class="${field.errorClass}">
    <strong>Contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}

#{field 'clienteM.contraseña'}
<p class="${field.errorClass}">
    <strong>Confirme contraseña:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}
<p class="buttons">
    <input type="submit" value="Comprobar contraseña"> 
   	 <a href="@{register()}">Pagina registro</a>
     <a href="@{index()}">Pagina Login</a>
</p>
#{field 'clienteM.usuario'}
<p class="${field.errorClass}">
    <strong>Usuario:</strong> <input type="text" name="${field.name}" placeholder="&{client.usuario}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}

#{field 'clienteM.contraseña'}
<p class="${field.errorClass}">
    <strong>Nueva contraseña:</strong> <input type="text" name="${field.name}" placeholder="${client.contraseña}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}


#{field 'clienteM.mail'}
<p class="${field.errorClass}">
    <strong>Mail:</strong> <input type="text" name="${field.name}" value="${client.mail}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}



<p class="buttons">
    <input type="submit" value="Modificar datos"> 
</p>
     																					
#{/form}
</body>
</html>



 