<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página modificar datos del usuario2  ${idCliente}</title>
</head>

<body> 
 <h3>Sus datos personales son:</h3>
 
#{form @ModificarDatos2()}

#{field 'clienteM.usuario'}
<p class="${field.errorClass}">
    <strong>Usuario:</strong> <input type="text" name="${field.name}" placeholder="&{client.usuario}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}

#{field 'clienteM.contraseña'}
<p class="${field.errorClass}">
    <strong>Nueva contraseña:</strong> <input type="text" name="${field.name}" placeholder="${client.contraseña}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}


#{field 'clienteM.mail'}
<p class="${field.errorClass}">
    <strong>Mail:</strong> <input type="text" name="${field.name}" placeholder="${client.mail}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}



<p class="buttons">
    <input type="submit" value="Modificar datos"> 
     <a href="@{index()}">Atras</a>
</p>
     																					
#{/form}
</body>
</html>
