<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto - PES</title>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=6exx3wJW7qKClsE3VXTDyCWMFMNMfApU_V3zpFLCSubRI63YLNbsJJlisE3rVZCbo_n13tpMqcz2-eQJNaZtDW1LM1SmOJZr8sBWYJPslpo9jcws64B56m-nMZuCmgQx0Byoh9jKQnfQZV8VkCPUMg" charset="UTF-8"></script><nav>
        <a href="http://localhost:9000/">Inicio</a>
        <a href="http://localhost:9000/application/principal">Productos</a>
        <a href="http://localhost:9000/application/loginTemplate.html">Login</a>
        <a href="http://localhost:9000/application/Register.html">Register</a>
    </nav>
</head>
<body>
<section>

    <p1>Camisetas</p1>
    <p2>Pantalones</p2>
    <p3>Zapatos</p3>
</section>
</body>
</html>