<!DOCTYPE html>
<html lang="en">
<style>

    img{
        width: 100px;
        height: 100px;
    }

    .dropdown{
        position: relative;
        left: 0px;
    }

    .barra li a{
        background-color: #000000;
        color:#ffffff;
        padding:10px 15px;
        display:block;
        width: 370px;
    }

    .barra > li{
        float:left;
    }

    .btn btn-default btn-lg{
        position: relative;
        left: 1200px;
        width: 150px;
        height: 150px;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    window.onload=function() {
        if (&{visionadmin} === 1)
        document.getElementById('AñadirUsuario').style.display="block";

        else if (&{visionadmin} === 2)
        document.getElementById('ModificarUsuario').style.display="block";

    else if (&{visionadmin} === 3){
            document.getElementById('ModificarUsuario').style.display="block";
            document.getElementById('DatosUsuario').style.display="block";
        }

    else if (&{visionadmin} === 4)
            document.getElementById('EliminarUsuario').style.display="block";

    else if (&{visionadmin} === 5)
            document.getElementById('AñadirStock').style.display="block";

    else if (&{visionadmin} === 6)
        document.getElementById('QuitarStock').style.display="block";

    }

</script>

<head>
    <script type="text/javascript" src=@{'/public/javascripts/Funciones.js'}></script>
    <meta charset="UTF-8">
    <title>Página Administrador</title>
</head>
<body>
<div style="background-color:#1aff00; width:1900px; height:90px"></div>

<h1 style="text-align: center; width:1900px; height:100px"> VISTA ADMINISTRADOR</h1>

<div style="text-align: right; height:50px"><b>Está conectado como: &{client.usuario}</b></div>

<p>Esta es la vista de Administrador de la Página Web. Solos los usuarios con derechos de administrador pueden acceder a esta página.</p>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Opciones Usuario
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="@{CambiarVistaNormal()}">Cambiar Vista a Normal</a></li>
        <li><a href="@{eliminarusuarioadmin()}">Borrar perfil</a></li>
        <li><a href="@{ModificarUsuario()}">Modificar datos perfil</a></li>
        <li><a href="@{Logout()}">Cerrar Sesión</a></li>
    </ul>
</div>
<h3 style="text-align: center; width:1900px; height:100px"> ACCIONES DE ADMINISTRADOR</h3>

<ul class="barra">
    <a class="jumbotron"></a>
    <li><a href="@{añadirusuario()}">Añadir Usuario</a></li>
    <li><a href="@{modificarusuarioadmin()}">Modificar Usuario</a></li>
    <li><a href="@{cargareliminar()}">Eliminar Usuario</a></li>
    <li><a href="@{goAddStock()}">Añadir Stock</a></li>
    <li><a href="@{quitarstock()}">Quitar Stock</a></li>
</ul>

<div style="text-align: center; display: none" id ="AñadirUsuario">

#{form @registrarclienteadmin()}
    <h3>Introduce los datos del nuevo usuario:</h3>
    #{field 'usuario'}
        <p class="${field.errorClass}">
            <strong>Username:</strong> <input type="text" name="${field.name}" size="16"> *
            <span class="error">${field.error}</span>
        </p>

    #{/field}

    #{field 'nombre'}
        <p class="${field.errorClass}">
            <strong>Nombre:</strong> <input type="text" name="${field.name}" size="16"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'apellido1'}
        <p class="${field.errorClass}">
            <strong>Apellido 1:</strong> <input type="text" name="${field.name}" size="16"> *
            <span class="error">${field.error}</span>
        </p>

    #{/field}

    #{field 'nuevocliente.apellido2'}
        <p class="${field.errorClass}">
            <strong>Apellido 2:</strong> <input type="text" name="${field.name}" size="16">
            <span class="error">${field.error}</span>
        </p>

    #{/field}

    #{field 'nuevocliente.contraseña'}
        <p class="${field.errorClass}">
            <strong>Password:</strong> <input type="password" name="${field.name}" size="16"> *
            <span class="error">${field.error}</span>
        </p>

    #{/field}
    #{field 'contraseña'}
        <p class="${field.errorClass}">
            <strong>Verify password:</strong> <input type="password" name="${field.name}" size="16"> *
            <span class="error">${field.error}</span>
        </p>

        </p>

    #{/field}
    #{field 'mail'}
        <p class="${field.errorClass}">
            <strong>Mail:</strong> <input type="email" name="${field.name}" size="16"> *
            <span class="error">${field.error}</span>
        </p>

    #{/field}
    <p class="buttons">
        <input type="submit" value="Register">
    </p>

#{/form}
</div>

<div  style="text-align: center; display: none" id = "ModificarUsuario" class="column">
#{form @cargardatos()}
    <p>
        <strong>Selecciona el usuario que quieres modificar:</strong>
    </p>

    <p>
        <label for="Nombreusuarios"> Usuarios:</label>
        <select id="Nombreusuarios" name="idusuario">
            #{list items:listaclientes, as:'cliente'}
                <option value="${cliente.id}" >${cliente.usuario}</option>
            #{/list}
        </select>
    </p>

    <p class="buttons">
        <input type="submit" value="Cargar Datos" />
    </p>
#{/form}
</div>

<div style="text-align: center; display: none" id = "DatosUsuario" class="column">
#{form @ModificarU()}
#{if usuarioM}

    <h3>Modifica los datos del usuario ${usuarioM.usuario}:</h3>


        #{field 'usuarioM.usuario'}
            <p class="${field.errorClass}">
                <strong>Usuario:</strong> <input type="text" name="${field.name}" placeholder="${usuarioM.usuario}" size="16"  >
                <span class="error">${field.error}</span>
            </p>
        #{/field}

    #{field 'usuarioM.nombre'}
        <p class="${field.errorClass}">
            <strong>Nombre:</strong> <input type="text" name="${field.name}" placeholder="${usuarioM.nombre}" size="16">
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'usuarioM.apellido1'}
        <p class="${field.errorClass}">
            <strong>Apellido 1:</strong> <input type="text" name="${field.name}" placeholder="${usuarioM.apellido1}"size="16">
            <span class="error">${field.error}</span>
        </p>

    #{/field}

    #{field 'usuarioM.apellido2'}
        <p class="${field.errorClass}">
            <strong>Apellido 2:</strong> <input type="text" name="${field.name}" placeholder="${usuarioM.apellido2}" size="16">
            <span class="error">${field.error}</span>
        </p>

    #{/field}

        #{field 'usuarioM.contraseña'}
            <p class="${field.errorClass}">
                <strong>Contraseña:</strong> <input type="text" name="${field.name}" placeholder="${usuarioM.contraseña}"size="16" >
                <span class="error">${field.error}</span>
            </p>
        #{/field}

        #{field 'usuarioM.mail'}
            <p class="${field.errorClass}">
                <strong>Mail:</strong> <input type="email" name="${field.name}" placeholder="${usuarioM.mail}" size="16" >
                <span class="error">${field.error}</span>
            </p>
        #{/field}

        <p class="buttons">
            <input type="submit" value="Modificar Usuario" />
        </p>
#{/if}
#{/form}

</div>

<div style="text-align: center; display: none" id = "EliminarUsuario" class="column">

#{form @eliminarusuarioadmin()}
    <p>
        <strong>Selecciona el usuario que quieres eliminar:</strong>
    </p>

    <p>
        <label for="Nombreusuarios"> Usuarios:</label>
        <select id="Nombreusuarios" name="idusuario">
            #{list items:listaclientes, as:'cliente'}
                <option value="${cliente.id}" >${cliente.usuario}</option>
            #{/list}
        </select>
    </p>

    <p class="buttons">
        <input type="submit" value="Eliminar Usuario" />
    </p>
#{/form}

</div>

<div style="text-align: center; display: none" id = "AñadirStock" class="column">
    <h3>Introduce los datos de la prenda:</h3>
#{form @AddStock()}
    #{field 'prendaM.tipo'}
        <p class="${field.errorClass}">
            <strong>Tipo:</strong> <input type="text" name="${field.name}" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'prendaM.equipo'}
        <p class="${field.errorClass}">
            <strong>Equipo:</strong> <input type="text" name="${field.name}" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'prendaM.talla'}
        <p class="${field.errorClass}">
            <strong>Talla:</strong> <input type="text" name="${field.name}" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'prendaM.cantidadComprada'}
        <p class="${field.errorClass}">
            <strong>Cantidad:</strong> <input type="int" name="${field.name}" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}


    #{field 'prendaM.precio'}
        <p class="${field.errorClass}">
            <strong>Precio:</strong> <input type="int" name="${field.name}" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    #{field 'prendaM.imagen'}
        <p class="${field.errorClass}">
            <input type="file" name="${field.name}" size="16" > *
            <span class="error">${field.error}</span>
        </p>
    #{/field}

    <p class="buttons">
        <input type="submit" value="Añadir Stock"/>
    </p>
#{/form}
</div>

<div style="text-align: center; display: none" id = "QuitarStock" class="column">
#{form @cargarequipo()}
    <p>
        <strong>Selecciona el equipo que quieres modificar:</strong>
    </p>

    <p>
        <label for="Nombreequipos"> Equipos:</label>
        <select id="Nombreequipos" name="idequipo">
            #{list items:listaequipos, as:'equipo'}
                <option value="${equipo}" >${equipo}</option>
            #{/list}
        </select>
    </p>

    <p class="buttons">
        <input type="submit" value="Cargar Equipo" />
    </p>
#{/form}
</div>

</body>
</html>