<!DOCTYPE html>
<html lang="en">
<style>

    img{
        width: 100px;
        height: 100px;
    }

    .dropdown{
        position: relative;
        left: 1600px;
    }

    .barra{
        width: 500px;
    }

    .btn btn-default btn-lg{
        position: relative;
        left: 1200px;
        width: 150px;
        height: 150px;
    }

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<head>
    <script type="text/javascript" src=@{'/public/javascripts/Funciones.js'}></script>
    <meta charset="UTF-8">
    <title>Página Administrador</title>
</head>
<body>
<div style="background-color:#1aff00; width:1900px; height:90px"></div>

<h1 style="text-align: center; width:1900px; height:100px"> VISTA ADMINISTRADOR</h1>

<div style="text-align: right; width:1600px; height:47px"><b>Está conectado como: &{client.usuario}</b></div>

<p>Esta es la vista de Administrador de la Página Web. Solos los usuarios con derechos de administrador pueden acceder a esta página.</p>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Opciones Usuario
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="@{CambiarVistaNormal()}">Cambiar Vista a Normal</a></li>
        <li><a href="#" onclick="Probando();">Probando MostrarOcultar</a></li>
        <li><a href="@{Logout()}">Cerrar Sesión</a></li>
    </ul>
</div>

<div class="barra" id = "prueba">
    <a class="jumbotron"></a>
    <a href="@{CambiarVistaNormal()}">Añadir Usuario</a>
    <a href="http://localhost:9000/application/principal">Modificar Usuario</a>
    <a href="http://localhost:9000/application/principal">Pantalones</a>
</div>
</body>
</html>