<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Web PES</title>
        <title>Ejercicio DSA</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

#{form @registrarCliente()}
#{field 'nuevocliente.usuario'}
<p class="${field.errorClass}">
    <strong>Username:</strong> <input type="text" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}

#{field 'nuevocliente.contraseña'}
<p class="${field.errorClass}">
    <strong>Password:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}
#{field 'contraseña'}
<p class="${field.errorClass}">
    <strong>Verify password:</strong> <input type="password" name="${field.name}" size="16"> *
    <span class="error">${field.error}</span>
</p>
#{/field}
<p class="buttons">
    <input type="submit" value="Register"> <a href="@{index()}">Cancel</a>
</p>
#{/form}
</body>
</html>


